/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
  &none               &kp Y            &kp C                            &kp L   &kp M      &kp K          &kp Z        &kp F            &kp U         &kp COMMA     &kp SINGLE_QUOTE   &none
  &none  &mt LEFT_CONTROL I  &mt LEFT_META S                   &mt LEFT_ALT R   &kp T      &kp G          &kp P        &kp N  &mt RIGHT_ALT E  &mt RIGHT_META A  &mt RIGHT_CONTROL O   &none
  &none               &kp Q            &kp V                            &kp W   &kp D      &kp J          &kp B        &kp H    &kp SEMICOLON           &kp DOT                &kp X   &none
                                              &mt LEFT_SHIFT LEFT_PARENTHESIS   &sl 1  &lt 2 ESC  &kp BACKSPACE  &lt 3 SPACE      &lt 3 ENTER
            >;
        };

        Symbol {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
  &none      &kp SLASH  &kp QUESTION        &kp HASH  &kp LESS_THAN  &kp GREATER_THAN    &kp N6  &kp GRAVE     &kp U   &kp A   &kp O   &none
  &none          &kp I        &kp AT       &kp EQUAL     &kp DOLLAR       &kp PERCENT  &kp AMPS   &kp STAR     &kp E   &kp A   &kp O   &none
  &none  &kp BACKSLASH     &kp TILDE  &kp UNDERSCORE       &kp EXCL            &trans     &kp A  &kp CARET     &kp E   &kp A   &kp O   &none
                                            &kp LGUI         &trans    &sk LEFT_SHIFT   &kp RET      &kp C  &kp RALT
            >;
        };

        symnum {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
  &none  &kp EXCL             &kp AT         &kp HASH               &kp DLLR         &kp PRCNT   &kp STAR  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3     &kp MINUS   &none
  &none    &trans   &kp LEFT_BRACKET   &kp LEFT_BRACE   &kp LEFT_PARENTHESIS     &kp LESS_THAN  &kp EQUAL  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0   &none
  &none    &trans  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN  &kp SLASH  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9      &kp PLUS   &none
                                             &kp LGUI                 &trans         &kp SPACE  &kp COMMA       &kp DOT   &kp PERCENT
            >;
        };

        Layer__3 {
            bindings = <
  &none  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &none
  &none  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &none
  &none  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &none
                         &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
